<h1>マイページ</h1>

<strong>登録情報</strong>
<%= link_to "プロフィール編集", edit_end_user_path(@user) %><br>

<table border="1">
    <tbody>
        <tr>
            <td>氏名</td>
            <td><%= @user.first_name %> <%= @user.last_name %></td>
        </tr>
        <tr>
            <td>カナ</td>
            <td><%= @user.kana_first_name %> <%= @user.kana_last_name %></td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td><%= @user.postal_code %></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= @user.address %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
        </tr>
    </tbody>
</table>

配送先　<%= link_to "一覧を見る",  "#"%><br>
注文履歴　<%= link_to "一覧を見る", "#"%>
