<h1>商品編集</h1>
<%= form_for @item, url: admin_item_path(@item) do |f| %>
    
    <div class="form-group has-icon">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
      
    </div>
    <div class="form-group has-icon">
      <%= f.label :image %><br />
      <%= f.attachment_field :image %>
      
    </div>
    <div class="form-group has-icon">
      <%= f.label :genre_id %>
      <%= f.select :genre_id, [["ケーキ", "1"], ["ジュース", "2"]], include_blank: "選択して下さい" %>
      
    </div>
    <div class="form-group has-icon">
      <%= f.label :non_taxed_price %>
      <%= f.text_field :non_taxed_price, class:"form-control" %>
      
    </div>
    <div class="form-group has-icon">
      <%= f.radio_button :sales_status, :on_sale %>
  　　 <%= f.label :sales_status, "有効", {value: :true, style: "display: inline-block;"} %>
  　　 <%= f.radio_button :sales_status, :off_sale %>
  　　 <%= f.label :sales_status, "無効", {value: :false, style: "display: inline-block;"} %>
      
    </div>
    <%= f.submit "これで確定する", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
  <% end %>