<div style="text-align:center">
<h2 class="mb-4">新規ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if current_page?(new_admin_registration_path) %>
  
      <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  <% else %>
      <b>名前(漢字)</b>
      <div class="field mt-2">
      <%= f.label :first_name, "(姓)" %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      
      <%= f.label :last_name, "(名)" %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      </div>

      <b>名前(フリガナ)</b>
      <div class="field mt-2">
      <%= f.label :kana_first_name, "(セイ)" %>
      <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "first_name" %>
      
      <%= f.label :kana_last_name, "(メイ)" %>
      <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "last_name" %>
      </div>

      <div class="field mt-3">
      <%= f.label :email, "メールアドレス", style:"font-weight:bold" %><br />
      <%= f.text_field :email, autofocus: true, autocomplete: "last_name" %>
      </div>

      <div class="field mt-3">
      <%= f.label :postal_code, "郵便番号(ハイフン無し)", style:"font-weight:bold" %><br />
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-3">
      <%= f.label :address, "住所", style:"font-weight:bold" %><br />
      <%= f.text_field :address, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-3">
      <%= f.label :telephone_number, "電話番号(ハイフン無し)", style:"font-weight:bold" %><br />
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "email" %>
      </div>

    <div class="field mt-3">
      <%= f.label :password, "パスワード(6文字以上)", style:"font-weight:bold" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field mt-3">
      <%= f.label :password_confirmation, "パスワード(確認用)", style:"font-weight:bold" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
   <% end %>
  

  <div class="actions mt-4">
    <%= f.submit "この内容で登録", class: "btn btn-primary" %>
  </div>
<% end %>
</div>


