<h1>カート内商品</h1>

<% if @cart_items.any? %>
<div class="row">
  <div class="col-sm-9">
    <div class="card-deck">
    <% @cart_items.each do |cart_item| %>
        <div class="card mb-3">
          <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', class: "bd-placeholder-img card-img-top", fallback: "ithigo.jpg" %>
          <div class="card-body pb-2">
            <h5 class="card-title"><%= cart_item.item.name %></h5>
            <p class="card-text"><%= cart_item.item.non_taxed_price %>円</p>
            
            <%= form_for cart_item do |f| %>
              <div class="form-group has-icon"><br>
                <%= f.label :個数 %>
                <%#= f.number_field :amount, class:"form-control" %>
                <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
              </div>
              <%= f.submit "個数を変更する", class:"btn btn-primary btn-block btn-base-1 mb-3" %>
            <% end %>
            <%= link_to "＞この商品をカートから外す", cart_item_path(cart_item.id), method: :delete, data: { confirm: "Are you sure?"}, class:"small text-secondary" %>
          </div>
        </div>
    <% end %>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="border border-secondary rounded bg-light p-3">
        <div class="bold">合計金額</div>
        <h4 class="content-justify-end border-bottom pb-2 mb-4">¥<%= @total %></h4>
        <%= link_to "注文手続きへ", new_order_path, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
    
  <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>

<% else %>
  <div>現在カートに商品がありません</div>
  <%= link_to "買い物を続ける", root_path, class: "btn btn-primary mt-5" %>
<% end %>
