<h1>カート内商品の一覧🌟</h1>

<% @cart_items.each do |cart_item| %>
    <div>商品名 : <%= cart_item.item.name %></div>
    <div>単価 : <%= cart_item.item.non_taxed_price %></div>

    
    <%= form_for cart_item do |f| %>
        <div class="form-group has-icon"><br>
          <%= f.label :個数 %>
          <%= f.number_field :amount, class:"form-control" %>
        </div>
           
    　　 <%= f.submit "個数を変更する", class:"btn btn-primary btn-block btn-base-1 mt-20" %>

    <% end %>

      <%= link_to "Destroy", cart_item_path(cart_item.id), method: :delete, data: { confirm: "Are you sure?"} %>
      </br></br>
<% end %>

<%= link_to "買い物を続ける", root_path %>

<div>合計金額 : <%= @total %></div>

<%= link_to "情報入力へ進む", new_order_path %>