<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>

<% @cart_items.each do |cart_item| %>
    <%= cart_item.item.name %>
    
    <%= form_for cart_item do |f| %>
        <div class="form-group has-icon">
          <%= f.label :個数 %>
          <%= f.number_field :amount, class:"form-control" %>
          <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
        </div>
        
         
            <%= f.hidden_field :item_id , value: cart_item.end_user.id %>
          
         
        <%= f.submit "個数を変更する", class:"btn btn-primary btn-block btn-base-1 mt-20" %>

        
      <% end %>

      <%= link_to "Destroy", cart_item_path(cart_item.id), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>