<h1>購入品確認</h1>

<table border="1">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= cart_item.item.name %></td>
                <td><%= cart_item.item.non_taxed_price %></td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.item.non_taxed_price * cart_item.amount %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<table border="0">
    <tr>
        <th>送料 : </th>
        <td> 500円</td>
    </tr>
    <tr>
        <th>商品合計 : </th>
        <td> <%= @total %>円</td>
    </tr>
    <tr>
        <th>請求金額 : </th>
        <td> <%= @total+500 %>円</td>
    </tr>
</table>

<div>支払方法 : <%= @payment_method %></div>
<div>お届け先 : <%= session[:user]["postal_code"] %>
                 <%= session[:user]["shipping_address"] %>
                 <%= session[:user]["direction"] %></div>

<%= link_to "購入確定", orders_complete_path %>


