
<%= @item.name %>
<div>単価 : <%= @item.non_taxed_price %></div>
<%= form_for @cart_item do |f| %>
    <div class="form-group has-icon">
      <%= f.label :個数 %>
      <%= f.number_field :amount, class:"form-control" %>
      <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
    </div>
    
      <%= f.hidden_field :item_id , value: @item.id %>
      
     <%= f.submit "カートに追加する", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
  <% end %>