<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <span class="app-title">Bookers</span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if end_user_signed_in? %>
        <li class="">
            <%= link_to "マイページ", end_users_path, class: "glyphicon glyphicon-log-out logout" %>
          </li>
          <li class="">
            <%= link_to "カート一覧", "#", class: "glyphicon glyphicon-log-out logout" %>
          </li>
          <li class="">
            <%= link_to "logout", destroy_end_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
          </li>
        <% elsif admin_signed_in?%>
        <li class="">
            <%= link_to "受注一覧", "#", class: "glyphicon glyphicon-log-out logout" %>
          </li>
          <li class="">
            <%= link_to "商品登録", new_admin_item_path, class: "glyphicon glyphicon-log-out logout" %>
          </li>
          <li class="">
            <%= link_to "logout", destroy_admin_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
          </li>
        <% else %>
          <li class="">
            <%= link_to "sign up", new_end_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
          </li>
          <li class="">
            <%= link_to "login", new_end_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
  <div class="body">
    <%= yield %>
  </div>
  </body>
</html>
